div{
  display: flex;
  justify-content: center;
}

#logo{
  width: 300px;
  height: 45px;
}

#user{
  width: 50px;
  height: 50px;
}


.logo{
  display: flex;
  width: 300px;
  height: 45px;
  padding-right: 120px;
}
.user{
  display: flex;
  width:50px;
  height: 50px;
}

span{
  padding-right: 10px;
}

.member{
  margin-top: 0;
  list-style-type: none;
  display: flex;
}
li{
  padding-right: 10px;
}

#class{
  height: 22px;
}

#list{
  background-color: #286090;
  color: white;
}

.navigation{
  display:block;
  background-color: #31667d;
}

nav{
  display: inline-block;
  justify-content: center;

}

